/*! == COMPONENTS == */

.button {
    position: relative;
    background: $brand-primary;
    border: none;
    padding: 1em 2em;
    text-align: center;
    text-transform: uppercase;
    color: white;
    position: relative;
    vertical-align: middle;
    -webkit-appearance: none;
    transition: color 0.5s, background 0.5s ease, letter-spacing 1s ease;

    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: $brand-secondary;
        top: 0;
        left: 0;
        z-index: -1;
        transition: transform 0.5s ease;
        transform: scaleX(0);
    }
  
    &:hover {
        background: transparent;
        color: $brand-primary;
        letter-spacing: 3px;
    }

    &:hover:before {
        transform:scaleX(1);
    }
    
    span {
        display: block;
        font-weight: 200;
        text-transform: none;
        font-style: italic;
        font-size: 1.2em;
    }
    
    &__ghost {
        background:transparent;
        box-shadow: inset 0 0 0 2px $brand-primary;
        color: $brand-primary;
    }
    
    &__prompt {
        position: relative;
        text-align: left;
        padding-right: 6em;
        font-weight: 400;
        font-size: 1.2em;
        line-height: 1.5em;
    
    i {
            position: absolute;
            top: 20px;
            right: 1em;
            left:initial;
            vertical-align: top;
            font-weight: 600;
            font-size: 3em;
    }
    
    &:hover i {
        right:0.75em;
    }
        
    }
    
    &__inline-cta {
    
        i {
            vertical-align: sub;
            line-height: 1.2em;
            font-size: 1.5em;
            margin-left: 0.5em;  
        } 
    }
}

.trigger-expand,
.trigger-collapse {
    position: relative;
    margin:1em 0;
    padding: 1em 3em;
    transition:$fastEffect;
    font-family: $supporting-font;
    text-transform: uppercase;
    font-size: 0.75em;
    letter-spacing: 2px;
    color: $brand-primary !important;
    border:1px solid $brand-primary;

  &:hover {
      cursor:pointer;
  }
}

a.next-section {
    position: absolute;
    bottom: 0;
    display: block;
    height: 4.5em;
    transform: translateX(-50%);
    left: 50%;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: white;
    z-index: 150;
    filter: drop-shadow(2px 2px 4px #000000);
    width: 100%;
    text-align: center;
    opacity: 0.9;
    color: #cfdfef;
    
    i {
	    position: absolute;
	    @include circle(1.8em, 0.15em solid #cfdfef);
	    color: #cfdfef;
	    left: 50%;
	    bottom: 0;
        transform: translateX(-50%);
		margin-bottom: 0.8em;
		transition: background-color 0.3s ease;
		text-align: center;
		padding-left: 0.25em;
		line-height: 1.6em;
		opacity: 0.9;
		background-color: hsla(0, 0%, 0%, 0.5);
		
		&:hover {
			background-color: rgba(255, 255, 255, 0.3);
	    }
    }
    
}

.scroll-section {
	width: calc(100vw - #{$width-menu});
    position: absolute;
    bottom: 0;
    height: 10em;
    z-index: 150;
	
	&.fixed {
		position: fixed;
		bottom: 0;
	}
	
	.hidden {
		display: none;
	}
}

.scroll-shadow {
	width: calc(100vw - #{$width-menu});
    position: absolute;
    bottom: 0;
    height: 10em;
	z-index: 50;
	background: -moz-linear-gradient(top, hsla(0,0%,100%,0) 0%, hsla(0,0%,0%,0.86) 40%);
	background: -webkit-linear-gradient(top, hsla(0,0%,100%,0) 0%,hsla(0,0%,0%,0.86) 40%);
	background: linear-gradient(to bottom, hsla(0,0%,100%,0) 0%,hsla(0,0%,0%,0.86) 40%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#db000000',GradientType=0 );
	z-index: 50;
	opacity: 0.4;
	
	&.fixed {
		position: fixed;
		bottom: 0;
	}
}

.collapsed-content {
    max-height: 0;
    overflow: hidden; 
    transition:max-height 0.5s ease;
    
    &.expand {
        max-height: 100vh;
    }
}

.logo-holder {
    display: inline-block;
    text-align: center;
 
    a {
        border:none;
    }
 
    #logo {
        width:80px;
        height:30px;
    }

    #silverless {
        opacity:0.6;
        transition:opacity 0.5s ease-in-out;
    
        path {
            fill:$brand-primary;
        }
    }

    svg {
        vertical-align: bottom;
        margin-bottom: -4px;
    }
    
    #created {
        opacity:0;
        transform: translateY(50px);
        transition: 1s transform ease, 2s opacity ease;

        path {
            fill:$brand-primary;
        }
    }

    &:hover {
        cursor:pointer;

        #silverless {
            opacity:0.8;
        }

        #created {
              opacity:0.8;
              transform: translateY(0);
        }
    }
}

