/*! == GLOBAL == */
html {
    font-size: 18px;
    overflow-y: scroll;
}
 
html,
body {
    min-height: 100vh;
    margin:0;
    padding: 0;
}

body {
    font-family: $body-font;
    font-size: 1rem;
    font-weight: 400;
    background: hsl(0, 0%, 100%);
    color: hsl(69, 2%, 31%);
}

main {
    min-height: 100vh;
}

p {
    font-size: 1em;
    line-height: 1.7em;
    font-weight: 400;  
}

a {
    display: inline-block;
    line-height: 1.2em;
    color: $brand-secondary;
    transition:color 0.3s ease;

    &:hover {
        text-decoration: none;
        color: $brand-dark-grey;
    }  
    
    i {
        line-height: 1.2em;
        vertical-align: bottom;
        transition:all 0.5s ease;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.prevent-scroll {
	overflow: hidden;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.heading {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em; 
    color: $brand-primary;         
    
    &__light {
        color: white;
    }
    
    &__alt-color {
      color: $brand-dark-grey;
    }
    
    &__xl {
        font-size: 4em;
        letter-spacing: 0.4em;
    }
    
    &__lg {      
        font-size: 1.8em;
    }  
    
    &__md {
        font-size: 1.3em;    
    }   
    
    &__sm {
        font-size: 1em; 
    }
    
    &__xs {
        font-size: 0.75em;        
    }
    
    &__spaced {
	    font-size: 1.8em;
	    line-height: 2em;
	    font-weight: normal;
	    letter-spacing: 0.6em;
    }

}

/*===========HEADER==========*/

.site-wrapper {
    position: relative;
    margin-right: 4.2em;
}

header {
    position: fixed;
    display: grid;
    width: 100%;
    z-index: 1000;
}

nav {
    position: fixed;
    top:0;
    right: 0;
    height: 100%;
    background: hsla(0, 0%, 100%, 1);
    padding-bottom: 1em;
    font-family: $supporting-font;
    z-index: 500;  
    color: white;
    transition: background 0.5s ease;

    &:before, &:after {
        position: absolute;
        right: 0;
		display: block;
		content: '';
    	width: $width-menu;
    	height: 40px;
    	background-color: #ffffff;
    	opacity: 1;
    	z-index: 500;
    	-webkit-transition: opacity 0.3s ease;
		-o-transition: opacity 0.3s ease;
    }
    
    &:after {
	    bottom: -40px;
    }
    
    &:before {
	    top: -40px;
    }
    
    .menu-trigger {
	    display: inline-block;
	    width: 100%;
	    cursor: pointer;
        position: relative;
        margin-top:1em;  
        z-index: 1000;
        text-align: center;
        transition: margin-top 0.5s ease;
    }
    
    .brand {
        
        a {
            display: block;
            height: 4em;
            margin-top: 1em;
            text-align: center;
            transition: height 0.5s ease;
            
            img {
                display: inline-block;
                height: 100%;    
            }
        }
    }

    .cta {
        margin-top: 1em;
        text-align: right;
        text-transform: uppercase;
        
        a {
            color: white;
            font-size: 1.3em;
            font-weight: 400;
            border: 3px solid transparent;
            padding: 0.25em 1em;
            transition: all 0.5s ease;
            
            &:hover {
                border-color: white;    
                background: $brand-primary;
            }
        }
    }
}

.scrolled nav {
    background:$brand-primary;
    
    .brand a { 
        height: 2em;
    }
}

.mainMenu {
    align-self: center;
    transition: opacity 1s ease;
}

.nav-menu {
    position: absolute;
    top:0;
    display: grid;
    grid-template-rows: 2fr 2fr 1fr;
    align-content: center;
    justify-content: center;
    right: -100vw;
    width: calc(100vw - #{$width-menu});
    height: 100vh;
    overflow: hidden;
    background: $brand-menu;
    /*opacity:0;*/
    z-index: 499;
    transition: right 0.5s ease, opacity 0.7s ease;
    
    &.menu-open {
        right: $width-menu;
        opacity:1;
    }
    
    &__logo {
        @include backgroundContain;
        position: relative;
        width: 25em;
        height: auto;
        align-self: flex-end;
        margin-bottom: 3em;
        
        &:hover + .mainMenu,
        &:hover + .mainMenu + .social {
            opacity:0.2;
        }
    }
    
    ul {
        list-style-type: none;
        margin:0;
        padding: 0 3em;
        visibility: hidden;
        
        li {
            letter-spacing: 0.3rem;
		    margin-bottom: 2.5rem;
		    text-align: center;
		    font-size: 0.6rem;
		    visibility: visible;
		    transition: opacity 1s ease;
		    display: block;
            
            a {
                display: block;
                color: white;
                text-transform: uppercase;
                font-size: 2em;
                transition: all 0.5s ease;
                border-left: 3px solid hsla(0, 0%, 100%, 0);    
                border-right: 3px solid hsla(0, 0%, 100%, 0);     
            }
            
            img {
	            max-width: 30vw;
            }
            
            &:hover a {
                    color: $brand-primary;
                    cursor: pointer;                    
                }
        }
    }

    ul:hover > li:not(:hover) {
        opacity:0.2;
    }

    .emphasis a {
        padding: 0.25em 1em;
        background: $brand-secondary;
    }
    
    .social {
        padding-top: 2em;
        text-align: center;
        transition: opacity 1s ease;
        
        a {
            position: relative;
            padding:0 1em;
            text-align: center;
            color: white;
            font-size: 1.5em;  
            
            &:hover {
                color: $brand-primary;
            }          
        }
    }
}

.nav-menu-content {
	width: $width-menu;
	position: fixed;
    top:0;
    right: 0;
    height: 100%;
    background: hsl(0, 0%, 100%);
    padding-bottom: 1em;
    font-family: $supporting-font;
    z-index: 500;  
    color: white;
    transition: background 0.5s ease;
}

.close-text {
	position: absolute;
	right: 4em;
	text-transform: uppercase;
	color: #000000;
	font-family: inherit;
	font-size: 1em;
    letter-spacing: 0.4rem;
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease, color 0.5s ease, letter-spacing 0.5s ease;
    transform: translateX(30%);
    
    &:hover {
        letter-spacing: 10px;
    }
        
    &.menu-open {
	    transform: translateX(0);
        opacity: 1;
        color: #FFFFFF;
    }

}

.menu-text {
	display: inline-block;
	writing-mode: vertical-rl;
	text-transform: uppercase;
	color: #000000;
	font-family: inherit;
	font-size: 1em;
    letter-spacing: 0.4rem;
    opacity: 1;
    transition: transform 0.5s ease, opacity 0.5s ease, letter-spacing 0.5s ease;
    transform: rotate(180deg);
    
    &:hover {
        letter-spacing: 10px;
    }
    
    &.menu-open {
        transform: translateY(-50%) rotate(180deg);
        opacity: 0;
    }
}

.menu-circle {
	display: inline-block;
	@include circle(1.25em, 0.2em solid #000000);
}

.scrolled nav .menu-trigger {
    margin-top:4em;
}


/*===========FOOTER==========*/

footer {
    background: $brand-secondary;
    color: white;
}

.socket {
    width:100%;
    padding: 2em;
    font-size: 0.75em;
    color: white;
    
    p {
        display: inline-block;
        font-weight: 300;
    }
    
    a {
        color: white;
    }
    
    i {
      margin-right: 1em;
    }
        
    &__colophon {
      text-align: right;
      a {
        margin-left:0.5em;
        padding-left:0.5em;
        border-left: 1px solid hsl(235, 6%, 49%);
        color: white;
      }
    }
    
    .accreds {
        text-align: center;
        
        img {
            max-height: 50px;
            margin:0 10px;
        }
    }
    
    .socials {
        display: inline-grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-content: center;        
    }
  }
