/*! == THEME STYLES == */

/*===========HEADER==========*/

.site-logo {
    z-index: 99;
    opacity:0;
    transition: opacity 3s ease, transform 3s ease;
    text-align: center;
    margin-bottom: 2em;
    transform: translateY(-30px);
    
    img {
        width:300px;
    }
}

.loaded .site-logo {
    opacity:1;
    transform: translateY(0);
}

.scrolled .site-logo {
    opacity:0;
    transform: translateY(-30px);
    transition: opacity 0.5s ease, transform 1s ease;
}

.small-logo {
    @include backgroundContain;
    position: absolute;
    height: 23px;
    width: 50px;
    top: -2.5em;
    opacity:0;
    transition: opacity 0.5s 0.5s ease;
}

.scrolled .small-logo {
    opacity: 1;
}
/*===========BODY==========*/

.sub-menu {
    margin-top: 2em;
    li {
        position: relative;
        display: inline-block;
        margin-right: 2em;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        
        &:after {
            content:'/';
            position: absolute;
            padding:0 0.5em;
        }
        
        &:last-of-type:after {
            display: none;
        }
        
        &:before {
            content:'';
            position: absolute;
            top: 1.5em;
            left: calc(50% - 0.5em);
            width:0.5em;
            height: 0.5em;
            border:2px solid black;
            border-radius: 50px;
            opacity:0;
            transition: opacity 0.5s ease;
        }
        
        &.current-menu-item a{
            color: $brand-primary;
        }
        
        &.current-menu-item:before {
            opacity: 1;
        }
        
        &:hover:before {
            opacity:1;
            border-color: $brand-primary;
        }
    }
}

.leaders {
    
    a {
        display: block;
    }
    
    &__item {
        min-height: 20em;
        margin-bottom: 2em;
        padding:2em;
    }
}

.fullwidth-image {
    @include backgroundCover;
    min-height: 20em;
}

.text-block {
    position: relative;
    
    &__accent {
        @include backgroundContain;
        position: absolute;
        width: 10em;
        height: 10em;
        right:-80%;
        bottom:-25vh;
        opacity:0.15;
    }
}

.experience-level {
    position: relative;
    display: block;
    height :10px;
    width:100%;
    background:$brand-secondary;
    border-radius: 50px;

    &:before {
        content:'';
        position: absolute;
        left: 0;
        width:0;
        height:100%;
        background: $brand-primary;
        border-radius: 50px;
        transition:width 2s ease;
    }

    &:after {
        content: '';
        position: absolute;
        left:0;
        top: -5px;
        width: 20px;
        height: 20px;
        background:white;
        border:3px solid $brand-secondary;
        border-radius:50px;
        transition:left 2s ease;
    }

    &.active.one:before {
        width:calc(25% + 10px);
    }
    
    &.active.two:before {
        width:calc(50% + 10px);
    }    
    
    &.active.three:before {
        width:calc(75% + 10px);
    }    

    &.active.one:after {
        left:calc(25%);
    }
    
    &.active.two:after {
        left:calc(50%);
    }    
    
    &.active.three:after {
        left:calc(75%);
    }  
    
    span {
        position: absolute;
        top: 1px;
        left:25%;
        width:8px;
        height:8px;
        background: $brand-primary;
        border-radius: 50px;

        &:nth-of-type(2) {
            left:50%;
        } 
        
        &:nth-of-type(3) {
            left:75%;
        }                          
    }
}

ul.features {
    
    li {
        margin-bottom: 0.5em;
    }
}


.month-slider {
	
	input {
		-webkit-appearance: none;
		outline: none;
		position: relative;
	    display: block;
	    height :10px;
	    width:100%;
	    background:$brand-secondary;
	    border-radius: 50px;
	    transition: opacity .2s;
	    
	    &::-webkit-slider-thumb {
		    $svg-color: rgba($brand-secondary, 0.99);
		    background: url('data:image/svg+xml;utf8,<svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20.8 15.3" enable-background="new 0 0 20.8 15.3" xml:space="preserve"><polygon fill="' + $svg-color + '" id="right" points="13.1,15.3 13.1,7.6 13.1,0 20.8,7.6 "/><polygon fill="' + $svg-color + '" id="left" points="7.6,0 7.6,7.6 7.6,15.3 0,7.6 "/></svg>') $brand-primary;
		    background-size: 70%;
			background-position: center;
			background-repeat: no-repeat;
		    position: relative;
			-webkit-appearance: none;
			appearance: none;
			width: 35px;
			height: 35px;
			cursor: pointer;
			border-radius: 100%;
			border: 3px solid #FFFFFF;
			z-index: 2;
		}
		
		&::-moz-range-thumb {
		    $svg-color: rgba($brand-secondary, 0.99);
		    background: url('data:image/svg+xml;utf8,<svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20.8 15.3" enable-background="new 0 0 20.8 15.3" xml:space="preserve"><polygon fill="' + $svg-color + '" id="right" points="13.1,15.3 13.1,7.6 13.1,0 20.8,7.6 "/><polygon fill="' + $svg-color + '" id="left" points="7.6,0 7.6,7.6 7.6,15.3 0,7.6 "/></svg>') $brand-primary;
		    background-size: 70%;
			background-position: center;
			background-repeat: no-repeat;
		    position: relative;
			-webkit-appearance: none;
			appearance: none;
			width: 35px;
			height: 35px;
			cursor: pointer;
			border-radius: 100%;
			border: 3px solid #FFFFFF;
			z-index: 2;
		}
		
		&::-ms-thumb {
		    $svg-color: rgba($brand-secondary, 0.99);
		    background: url('data:image/svg+xml;utf8,<svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20.8 15.3" enable-background="new 0 0 20.8 15.3" xml:space="preserve"><polygon fill="' + $svg-color + '" id="right" points="13.1,15.3 13.1,7.6 13.1,0 20.8,7.6 "/><polygon fill="' + $svg-color + '" id="left" points="7.6,0 7.6,7.6 7.6,15.3 0,7.6 "/></svg>') $brand-primary;
		    background-size: 70%;
			background-position: center;
			background-repeat: no-repeat;
		    position: relative;
			-webkit-appearance: none;
			appearance: none;
			width: 35px;
			height: 35px;
			cursor: pointer;
			border-radius: 100%;
			border: 3px solid #FFFFFF;
			z-index: 2;
		}
	}
	
	.ticks {
		display: flex;
		justify-content: space-between;
		padding: 0 5px;
		
		div {
			position: relative;
			display: flex;
			justify-content: center;
			text-align: center;
			text-transform: uppercase;
			height: 50px;
			writing-mode: vertical-rl;
			font-size: 14px;
			letter-spacing: 0.1em;
			cursor: pointer;
			
			
			&:before {
				content: '';
				position: absolute;
			    width: 8px;
			    height: 8px;
			    top: -9px;
			    left: 50%;
			    transform: translateX(-50%);
		        background: $brand-primary;
		        border-radius: 50px;
			}
			
			span {
				transition: all 0.3s ease;
				
				&.active {
				    font-weight: bold;
				    text-shadow: 3px 3px 5px #85b1d1;
				    transform: scale(1.2);
				}
			}
			
			&:hover > span {
			    transform: scale(1.2);
			}
		}
	}
}



















/*===========FOOTER==========*/