/*! == VARIABLES == */

$brand-primary: hsl(214, 43%, 25%);
$brand-secondary: hsl(9, 75%, 46%);
$brand-light-grey: hsl(0, 0%, 89%);
$brand-dark-grey: hsl(0, 0%, 46%); 
$brand-menu: hsl(235, 8%, 30%);

$brand-font: 'Lato', sans-serif;
$body-font: 'Lato', sans-serif;
$supporting-font: 'Lato', sans-serif;

$fastEffect: all .5s ease;
$slowEffect: all 1s ease;

$width-menu: 4.2em;
